{% extends 'blog/base.html' %}

{% block content %}
    <div class="post">
        <img style="float: right;" src="https://lh3.googleusercontent.com/IIpMONH4t7MOrCMPUdmdXMX0I7NHy3IEksF0g9W-IAtAzbm89z8EMDmOrg5zkZUcvPcycZ_QSP_f7rckcvwQAYcua8s45uMUpct8Gp_8xWgjEF8yiN7VzWF45hy1QU0r7Gzv_GuG3c-x8g6lviPL3TeynoOG__pjTa8cSYPsCWIDxsT3cSF90kVR3_t9gl5cf4vk7c8N98dRyKXvptbx6eenF9dsiyAO7gJcuiAfuYY-1mfWhnsN_RLWuQ5jiQwMuCLPDoQzfL638lazRiNKQQtLpaSOA6xb0ydMA9SQQ3vAayjr-yk0QSfX4sCTSjWGM2BeHO6UR56r45PeYXpfNwR013nIbnBG0Kb8_B4TqWVrJ_9WZNCQ-Rv0GWKLy44U4nCitepM-HIZ5S3Rmk1y9pANzfqYH5aWezMPsmJSZr0csu84-XscKVgHehV2GL0oGnwZ6xqBo7yvMyoTuE2kVjtP4kIBbgcKyJtNFJTLhTl7KAGxuuFohjb2HzzuECQpHURS7nkRxnLUCxBeFeWnU-NeKBI7DHBtTi_eKLpvpIqRnihoUi6aiui9EnLqJXV-0CuW28AkuPEDpCFjpHzHBuu5ZZx4Mps5hhu5gqpZyg-uenKST0R143qS5DNKfOnhHARC8o5FAHvv_Os2xyzqDIvVhQU20NEH-I1l5ObJTHSmxv29k3-8zap9mbfHQUvL4Vj8tVhwugQ7J9HdE_ZdWl7D9RufzGdTBaniEULQO0M5Mo239CDe=w277-h330-no">
        <h2>Huch 404 hmm</h2>
        <p>Diese Seite gibt es nicht.</p>
        <h2>Nur Hier gibt es die Wahrheit über das Krokodil zu lesen:</h2>
        <ul>
            <li>Das Krokodil ist ein Arschloch siehe <a href="http://srieder.pythonanywhere.com/post/11/">Pythonspikzettel - Strings</a></li>
            <li>Es frißt Kaninchen <a href="http://srieder.pythonanywhere.com/post/9/">Ein paar Zeilen zu Category und Tags</a></li>
            <li>Jetzt kommt das schlimmste: Das Krokodil ist Javaprogrammierer</li>
        </ul>
            <br>Bei fragen stehe ich unter susanns.djangos@gmx.de zur Verfügung.
        </p>
    </div>
{% endblock %}